
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 50% 23%;

    --card: 0 0% 100%;
    --card-foreground: 210 50% 23%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 50% 23%;

    --primary: 210 100% 32%;
    --primary-foreground: 0 0% 100%;

    --secondary: 200 54% 55%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 47%;

    --accent: 25 100% 63%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 210 100% 32%;

    --radius: 0.5rem;

    --sidebar-background: 210 100% 32%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 200 54% 55%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 54% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 210 54% 28%;
    --sidebar-ring: 200 54% 55%;
  }

  .dark {
    --background: 210 50% 10%;
    --foreground: 0 0% 100%;

    --card: 210 50% 13%;
    --card-foreground: 0 0% 100%;

    --popover: 210 50% 13%;
    --popover-foreground: 0 0% 100%;

    --primary: 210 100% 32%;
    --primary-foreground: 0 0% 100%;

    --secondary: 200 54% 45%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 50% 20%;
    --muted-foreground: 0 0% 80%;

    --accent: 25 90% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 50% 20%;
    --input: 210 50% 20%;
    --ring: 200 54% 55%;
    
    --sidebar-background: 210 54% 18%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 200 54% 45%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 54% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 210 54% 25%;
    --sidebar-ring: 200 54% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
